@{
    ViewBag.Title = "Home Page";
}



<h1><a href="/Admin/Login">Sign In</a></h1>
<h1><a href="/Admin/Register">Register</a></h1>
<h1><a href="/Admin/Update">Update</a></h1>
<h1><a href="/Admin/delete">Delete</a></h1>